html, body, .container {
    height: 100%;
}
.container {
    position: relative;
    text-align: center;
}
.container > p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.notfound{
	background-color:#67b6df;
	height:100%;
	font-size:150px;
}

.error{
    color:#fff;
    font-size:1em;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.error-text{
    font-size:1em;
}

.error-subtext{
    font-size: .15em;
    margin-top: -20px;
}

.error-button{
    margin-top: -175px;
}
